<nav class="section-navbar">
	<div class="navbar-container">
		<div class="navbar-left">
			<a class="navbar-title" href="http://weibo.com/daledu">Just For Fun</a>
		</div>
		<div class="navbar-right">
			<ul class="navbar-ul" ng-repeat="menu in vm.menus track by $index">
				<li class="navbar-item">
					<a class="navbar-link" ui-sref="{{menu.state}}" ng-bind="menu.text"
					   ng-class="{ native: vm.selectedMenu === menu.text }" ng-click="vm.goToPage( menu.text)"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
