@import "../../common/styles/mixins";
@import "../../common/styles/variables";

.contact {
  margin-top: 100px;
  color: #a09ea2;

  .contact-header {
	margin-bottom: 100px;
	.contact-title {
	  margin: auto;
	  width: 750px;
	  font-size: 18px;
	}
	h1 {
	  color: #31436a;
	  font-size: 40px;
	  margin: 30px;
	  text-align: center;
	}
  }
  .contact-version {
	margin-bottom: 50px;

	.nope {
	  opacity: 0.5;
	  filter: grayscale(100%);
	}
	.selected {
	  color: #2b9cf2;
	}
	.version-tab {
	  display: flex;
	  justify-content: center;
	  margin-bottom: 50px;
	  .tab-body {
		display: flex;
		justify-content: space-between;
		width: 250px;
	  }
	  .version-classify {
		font-weight: 600;
		cursor: pointer;
	  }
	  .version-classify:hover {
		text-decoration: underline;
		font-weight: 600;
	  }
	}
	.version-body {
	  display: flex;
	  justify-content: center;
	  font-weight: 300;
	  .version-block {
		padding: 20px;
		width: 300px;
		height: 600px;
		margin: 5px;
		border: 1px solid #E0E7ED;
		.header {
		  padding: 10px 20px;
		  font-size: 14px;
		  text-align: center;
		}
		h3 {
		  color: #113861;
		}
		.price {
		  display: flex;
		  justify-content: center;
		}
		.price-body {
		  width: 150px;
		}
		.number {
		  font-size: 26px;
		  color: #2b9cf2;
		}
		.percent {
		  font-size: 18px;
		  color: #2b9cf2;
		}
		.feature {
		  display: flex;
		  flex-direction: column;
		  li {
			margin-bottom: 15px;
			padding-left: 30px;
			background: url('../../assets/images/contact/check.png') no-repeat 0 0;
			background-size: 20px 20px;
		  }
		  .nope {
			text-decoration: line-through;
		  }
		}
		.sign-up {
		  margin: 30px 0;
		  text-align: center;
		}
		.sign-up-button {
		  @include border-radius(5px);
		  padding: 15px 20px;
		  color: #FFFFFF;
		  font-size: 16px;
		  font-weight: 600;
		  border: none;
		  background: #2b9cf2;
		}
		.sign-up-button:hover {
		  cursor: pointer;
		}
	  }
	  .version-block:hover {
		box-shadow: 0 0 80px rgba(54,67,77,0.2);
		transform: scale(1.05) translateY(-1%);
		transition-duration: 0.15s;
		z-index: 99;
	  }
	}
  }
  .contact-feedback {
	display: flex;
	flex-direction: column;
	.feedback-title {
	  h3 {
		margin: 30px;
		font-size: 30px;
		font-weight: 300;
		color: #314362;
		text-align: center;
	  }
	  .sub-title {
		text-align: center;
		font-weight: 500;
		color: darkgrey;
	  }
	}
	.feedback-body {
	  margin: 80px auto;
	  .one-feedback {
		padding-top: 45px;
		padding-left: 15px;
		margin-bottom: 60px;
		width: 500px;
		color: #36434d;
		font-size: 18px;
		font-weight: 500;
		line-height: 2;
		background-size: 90px 90px;
		background: url('../../assets/images/contact/quotation.png') no-repeat 0 0;
	  }
	  .feedback-person {
		margin-top: 30px;
		display: flex;
	  }
	  .feedback-img {
		width: 40px;
		height: 40px;
	  }
	  .describe-person {
		margin-left: 20px;
		font-size: 14px;
		font-weight: 500;
		color: darkgrey;
	  }
	}
  }
}
