<article class="modal">
	<div class="modal-header">
		<div class="header-title">Conversations</div>
		<div class="header-contact-people">With Coach</div>
	</div>
	<div class="modal-body">
		<div class="message" ng-repeat="info in vm.infos" ui-sref="app.contact">
			<div class="message-icon">
				<img class="message-img" ng-src="{{info.img}}">
			</div>
			<div class="message-info">
				<div class="info-header">
					<span class="message-theme" ng-bind="info.theme"></span>
					<span class="message-time" ng-bind="info.date"></span>
				</div>
				<div class="info-body">
					<p class="info-message" ng-bind="info.message"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class="new-conversation" ui-sref="app.contact">
			New Conversation
		</a>
	</div>
</article>
