<article class="modal">
	<div class="modal-header">
		<div class="header-title">Conversations</div>
		<div class="header-contact-people">With Coach</div>
	</div>
	<div class="modal-body">
		<div class="message">
			<div class="message-icon">
				<img class="message-img" ng-src="/src/assets/images/message.png">
			</div>
			<div class="message-info">
				<div class="info-header">
					<span class="message-theme">Travelling</span>
					<span class="message-time">5d ago</span>
				</div>
				<div class="info-body">
					<p class="info-message">When Airbnb started talking to the city of New Orleans
						last year about how to regulate the short-term rental market there</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class="new-conversation">
			New Conversation
		</a>
	</div>
</article>
