<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpack + angularjs 1.x + ES6</title>
    <% var i = 0;
    for (var chunk in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[chunk] %>"></link>
    <% } %>
</head>
<body class="container">
<h2> Just For Fun </h2>
<div ng-app="App">
    <div ng-controller="AppController as fun">
    </div>
</div>
<% var i = 0;
for (var chunk in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
<% } %>
</body>
</html>
