@import "../../common/styles/mixins";
@import "../../common/styles/variables";

.home {
	.home-content {
	  @include absolute-center-flex;
	  margin-bottom: 100px;
	  flex-direction: column;

	  .logo {
		@include absolute-center-flex;
	  }
	  .logo-img {
		width: 500px;
		height: 500px;
	  }
	  .headline {
		@include absolute-center-flex;
		font-size: $font-size-larger;
		font-weight: 500;
	  }
	}
	.home-sign-up {
	  @include absolute-center-flex;
	  width: 100%;
	  height: 400px;
	  color: #FFFFFF;
	  background: #1f5dc9;
	  flex-direction: column;

	  .guide-container {
		@include border-radius(3px);
		@include absolute-center-flex;
		width: 750px;
		height: 300px;
		background: #FFFFFF;
		flex-direction: column;
	  }
	  .guide-container:hover {
		box-shadow: 0 0 10px rgba(0,0,0,.1);
	  }
	  .guide-title {
		font-size: 50px;
		font-weight: 600;
		color: #364962;
		margin-bottom: 10px;
	  }
	  .guide-context {
		font-size: $font-size-middle;
		font-weight: 500;
		color: #6c7c92;
	  }
	  .guide-send {
		margin-bottom: 20px;
	  }
	  .guide-input {
		@include border-radius(3px);
		width: 340px;
		height: 30px;
		padding: 13px 16px;
		margin-right: 10px;
		font-size: 16px;
		border: 2px solid #efefef;
		outline: none;
	  }
	  .guide-sign-up {
		@include border-radius(3px);
		padding: 20px 40px;
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 600;
		border: none;
		background: #007fff;
	  }
	  .guide-sign-up:hover {
		cursor: pointer;
		background: #364962;
	  }
	}

    .home-evaluate {
	  position: relative;
	  background: #f7f7f7;
	  content: '';
	  height: 950px;
	  .evaluate-container {
		@include absolute-center-flex;
		flex-wrap: wrap;
		flex-direction: column;
		letter-spacing: .058em;
	  }
	  .evaluate-text {
		@include absolute-center-flex;
		flex-direction: column;
		margin-top: 50px;
		width: 550px;
		text-align: center;
		z-index: 2;
		background: #f7f7f7;
	  }
	  .text-title {
		margin: 0;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
	  }
	  .evaluate-description {
		margin-top: 10px;
		margin-bottom: 0;
		line-height: 1.58;
		max-width: 500px;
		color: #969696;
		letter-spacing: 0.8px;
	  }
	  .evaluate-date {
		@include absolute-center-flex;
		margin-top: 50px;
		flex-direction: column;
		z-index: 2;
		background: #f7f7f7;
	  }
	  .date-icon {
		margin-top: 5px;
		width: 1rem;
	  }
	  .date-content {
		margin: 5px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	  }
	  .evaluate-list {
		margin-top: 20px;
		z-index: 2;
	  }
	  .evaluate-data {
		@include border-radius(5px);
		width: 800px;
		height: 80px;
		margin-bottom: 30px;
		background: #FFFFFF;
	  }
	  .evaluate-data:hover {
		transform: scale(1.04);
		box-shadow: 0 1.25rem 2.5rem -0.625rem rgba(32,32,32,0.15);
		transition: transform .2s ease,box-shadow .2s ease,-webkit-transform .2s ease;
	  }
	  .evaluate-body {
		display: flex;
		width: 760px;
		height: 60px;
		padding: 10px 20px;
	  }
	  .profile-picture {
		@include absolute-center-flex;
	  }
	  .profile-img {
		@include border-radius(3px);
		width: 40px;
	  }
	  .commit-info {
		display: flex;
		flex: 1;
		justify-content: center;
		margin: 0 20px;
		flex-direction: column;
	  }
	  .info-message {
		font-size: 14px;
		font-weight: bold;
	  }
	  .info-meta {
		margin-top: 8px;
		font-size: 10px;
	  }
	  .commit-actions {
		display: flex;
		width: 150px;
		margin-right: 20px;
		align-items: center;
	  }
	  .commit-group ,.commit-button{
		@include border-radius(3px);
		display: flex;
		height: 30px;
		border: 1px solid #f7f7f7;
	  }
	  .commit-copy {
		@include absolute-center-flex;
	  }
	  .commit-copy:hover {
		@include absolute-center-flex;
		background: #4078c0;
		cursor: pointer;
	  }
	  .commit-img {
		width: 14px;
		padding: 8px;
		border-right: 1px solid #f7f7f7;
	  }
	  .commit-nr {
		padding: 10px;
		font-size: 10px;
		font-weight: 600;
		color: #202020;
	  }
	  .commit-button {
		margin-left: 10px;
	  }
	  .button-img {
		width: 14px;
		padding: 8px;
	  }
	}
	.home-evaluate:before {
	  position: absolute;
	  left: 50%;
	  width: 2px;
	  height: 950px;
	  content: '';
	  background: #c8c8c8;
	}

    .home-start-here {
	  @include absolute-center-flex;
	  width: 100%;
	  height: 300px;
	  color: #FFFFFF;
	  background: #1f5dc9;
	  flex-direction: column;

	  .guide-text {
		margin-bottom: 40px;
		font-size: $font-size-larger;
		font-weight: 500;
	  }
	  .guide-button {
		@include border-radius(3px);
		padding: 10px 30px;
		color: #333333;
		font-weight: 700;
		text-align: center;
		background: #FFFFFF;
	  }
	  .guide-button:hover {
		color: #FFFFFF;
		cursor: pointer;
		background: #007fff;
	  }
	}

}
